.bundle/
*.log
*.gem
/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/spec/dummy/log/*.log
/spec/dummy/.byebug_history
/spec/dummy/tmp
.byebug_history

# rspec failure tracking
.rspec_status
